<div class="uk-section">
   <div class="uk-container">
      <div class="uk-text-center" uk-grid>
          <div class="uk-width-expand@m">
              <div class="uk-card uk-card-default uk-card-body">
               <h1 class="uk-h1 uk-text-center">Extremelly Simple &  Powerful Bitcoin wallet</h1>
                  <p class="uk-text-lead uk-text-center">Extremelly Simple &  Powerful Bitcoin wallet</p> 
              </div>
          </div>
        <div class="uk-width-1-3@m">
              <div class="uk-card uk-card-default uk-card-body">
               <img src="https://beta.strike.me/static/dd1e3ea4ed6127139e2c6eddabcefd0c/d96a9/friends_phone%403x.png">
              </div>
          </div>
      </div>
   </div>
</div>