<div class="uk-section-xsmall">
    <div class="uk-container uk-container-small container">

	    {% for post in site.posts limit: 20 %}

        <article class="post uk-card uk-card-default uk-card-small uk-card-body uk-box-shadow-small uk-box-shadow-hover-medium uk-inline border-radius-medium border-xlight uk-width-1-1 uk-margin-small">
        	{% if post.external_url != null %}
        	<a class="uk-position-cover" href="{{ post.external_url }}" target="_blank"></a>
        	{% else %}
            <a class="uk-position-cover" href="{{ post.url | relative_url }}"></a>
             {% endif %}
            <div class="uk-card-title">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">{{ post.title }}</h3>
                    </div>
                </div>
            </div>
            <div>
            <p>{{ post.description }}</p>
                
            </div>
            <p class="uk-text-meta uk-margin-remove-top">
            	{% if post.categories.size > 0 %}
            		{% if post.categories contains "software" %}
                        {% assign current = ' uk-label-success ' %}
                    {% elsif post.categories contains "podcast" %}
                        {% assign current = ' uk-label-warning ' %}
                     {% elsif post.categories contains "tutorial" %}
                        {% assign current = ' uk-label-danger ' %}
                    {% else %}
                        {% assign current = ' ' %}
                    {% endif %}
            		<span class="uk-label uk-inline {{ current }}">{{ post.categories | sort | join: ", " }}</span>

            	{% endif %}
            	<time class="uk-inline" datetime="{{ post.date | date_to_xmlschema }}">
            		{% assign date_format = site.date_format | default: "%b %-d, %Y" %}
                    {{ post.date | date: date_format }}
                </time>
            </p> 

        </article>
        {% endfor %}
   
		

    </div>
</div>
<a class="pagination__next uk-invisible" href="{{ site.baseurl }}blog/2/"></a>