---
# Only the main Sass file needs front matter (the dashes are enough)
---

.merda {
	height: 598px;
}
.uk-navbar {
	padding: 24px 0;
	a {
		font-weight: 700;
	}
}
.uk-heading-primary {
	margin-bottom: 24px;
}

.poster {
	width: 300px;
    height: 611px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin: -250px 0 0 -160px;
    border-radius: 42px;
    box-shadow: 0 45px 100px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    flex: auto;
    align-self: center;
    justify-content: center;
    padding: 0;
}
.poster .shine {
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  z-index: 100;
}
.poster .layer-4 {
	position: absolute;
    top: 0px;
    left: -5px;
    right: -3px;
    bottom: -10px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transition: 0.1s;
          transition: 0.1s;
  background-image: url("{{ site.uploads | absolute_url }}/bluewallet.png");
}


// System fonts
@import "system-font-css/_system-font";

// Custom variables and variable overwrites.
@import "theme/variables";

// Import default variables and available mixins.
@import "uikit/variables-theme";
@import "uikit/mixins-theme";

// Custom mixin overwrites.
@import "theme/mixins";

// Import UIkit.
@import "theme/uikit";

// Other vendor styles
// @import "syntax-highlighting/cld";
@import "syntax-highlighting/bw";